Django==1.5.4
PyRSS2Gen==1.0.0
Twisted==12.0.0
altgraph==0.9
bdist-mpkg==0.4.4
clang==3.3
dj-database-url==0.2.2
dj-static==0.0.5
django-tastypie==0.10.0
django-toolbelt==0.0.1
gunicorn==18.0
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
py2app==0.6.3
pyOpenSSL==0.13
pyobjc-core==2.4
pyobjc-framework-AddressBook==2.4
pyobjc-framework-AppleScriptKit==2.4
pyobjc-framework-AppleScriptObjC==2.4
pyobjc-framework-Automator==2.4
pyobjc-framework-CFNetwork==2.4
pyobjc-framework-CalendarStore==2.4
pyobjc-framework-Cocoa==2.4
pyobjc-framework-Collaboration==2.4
pyobjc-framework-CoreData==2.4
pyobjc-framework-CoreLocation==2.4
pyobjc-framework-CoreText==2.4
pyobjc-framework-DictionaryServices==2.4
pyobjc-framework-ExceptionHandling==2.4
pyobjc-framework-FSEvents==2.4
pyobjc-framework-InputMethodKit==2.4
pyobjc-framework-InstallerPlugins==2.4
pyobjc-framework-InstantMessage==2.4
pyobjc-framework-InterfaceBuilderKit==2.4
pyobjc-framework-LatentSemanticMapping==2.4
pyobjc-framework-LaunchServices==2.4
pyobjc-framework-Message==2.4
pyobjc-framework-OpenDirectory==2.4
pyobjc-framework-PreferencePanes==2.4
pyobjc-framework-PubSub==2.4
pyobjc-framework-QTKit==2.4
pyobjc-framework-Quartz==2.4
pyobjc-framework-ScreenSaver==2.4
pyobjc-framework-ScriptingBridge==2.4
pyobjc-framework-SearchKit==2.4
pyobjc-framework-ServerNotification==2.4
pyobjc-framework-ServiceManagement==2.4
pyobjc-framework-SyncServices==2.4
pyobjc-framework-SystemConfiguration==2.4
pyobjc-framework-WebKit==2.4
pyobjc-framework-XgridFoundation==2.4
python-dateutil==1.5
python-mimeparse==0.1.4
static==0.4
virtualenv==1.10.1
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
